
/* Panel Lateral: */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

.content {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.tabs {
    color: white;
    background-color: #b32424;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 3%;
}

.tabs:hover {
    color: white;
    background-color: #e64a4a;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 3%;
}

.tabs:active {
    color: white;
    background-color: #f37f7f;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 3%;
}

/* Pagina demo (la primera que se hizo :D): */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #b32424;
    height: 288px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

/* Pagina visualizacion */

.selection-buttons {
    background-color: #222222;
    height: 48px;
}

.buttons {
    color: white;
    background-color: #b32424;
    border-radius: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 4%;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 0px;
}

.buttons:hover {
    color: white;
    background-color: #e64a4a;
    border-radius: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 4%;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 0px;
}

.buttons:active {
    color: white;
    background-color: #f37f7f;
    border-radius: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 4%;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 0px;
}

.buttons:focus {
    color: white;
    background-color: #b32424;
    border-radius: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 4%;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 0px;
    box-sizing: border-box;
}

.filter-selector {
    height: 114px;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: 40px auto 0 auto;
    background-color: #993737;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.filter-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.filter {
    width: 20px;
    background-color: #b32424;
    padding-right: 10px;
    
}